/* jQuery Animasyon ve Efektler */

/* .box {
  width: 100px;
  height: 100px;
  background-color: blue;
  display: none;
} */

/* jQuery Eklentiler ve Yardımcı Araçlar */

/* .box {
  width: 100px;
  height: 100px;
  background: red;
}
 */
